@charset "utf-8";
@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'SpoqaHanSansNeo-Regular';
}
ul,li,ol{
    list-style: none;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    
}
#head{
    width: 100%;
    height: 102px;
   
    margin:0 auto;
    border-bottom: solid 1px none;
    box-shadow: #767676 0px 0px 10px 0px;
    overflow: hidden;
    background:url("../main_img/head_background.jpg") no-repeat center;
    background-position: center;
    background-size: cover;
   position: relative;
    z-index: 1;
   
}
#head .ham{
    display: none;
}
.top{ 
     display: flex;    
      justify-content: space-evenly;
      align-items: center;     
    
}

    


#head .logo{
    height: 100px;
}
#head .logo img{
    height:100px; 
    transition: 0.5s ease; 
   
    
}
#head .logo img:hover{
    transform:scale(0.8);
    transition: 0.5s;
}
.navigation{
    width: 530px;
    height: 54px;
    
}
.navigation .list{
    display: flex;
    justify-content: center;
    
    
    
}
.navigation .list li{
   padding:20px;
    text-align: center;
    font-weight: bold;
   
}
#head .navigation a{
    color:white;
    transition: all 0.5s;
}
#head .navigation a:hover{
    color:tomato;
   
}

footer{
    width: 100%;
    height:830px;
    margin:0 auto;
    background-color: black;
}

footer .footerlogo {
   
   
   width: 300px;
 margin: 0 auto;
}
footer .footerlogo img{
   
    width: 300px;
    height: 150px;
   
   
    
}
footer .line2{
    width: 1200px;
    border-bottom: 1px solid white;
    margin: 0 auto;
   
    opacity: 0.5;
}


footer .footer_in{
   max-width: 1200px;
    height: 500px;
    margin:0 auto;
    display: flex; 
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;

}

footer .footer_menu{
    width: 220px;
 

}
footer .footer_menu li{
    font-size: 20px;
    font-weight: bold;
    line-height: 2.3em;
    
}
footer .footer_menu li a{
    color:white;

}
footer .footer_menu li a:hover{
    color:rgb(255, 205, 113);
    transition: 0.5s;
}


footer .footer_car{
    display: flex; 
    justify-content: space-between;
    width: 400px;
}

footer .footer_car li{
    line-height: 2.3em;
}
footer .footer_car li a{
    color:rgba(255,255,255,0.6);
}
footer .footer_car li a:hover{
    color:rgb(255, 205, 113);
    transition: 0.5s;
}
footer .footer_car .fo_title{
    color:white;
    font-weight: bold;
}


footer .footer_in3 .foin3_title{
    margin:0;
    color:white;
}
footer .footer_in3 li img{
    float: left;
    display: block;
    padding-right: 10px;
  
}

footer .footer_in3 ul li {
    font-size: 10px;
    padding-bottom: 20px;
    padding-top: 12px;
    color:white;          
}

footer .footer_last{
    width: 1200px;
    height: 60px;   
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .last_text2{
    color:white;
    font-size: 13px;
}
footer .last_img{
    width: 200px;
    display: flex;
    justify-content: space-around;   
}

footer .last_img img{ 
  background-color:white;
  height: 30px;
    border-radius: 10px;   
   
   
}
