@charset "utf-8";
body{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
ul,li,ol{
    list-style: none;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color: black;
}

#head{
    width: 100%;
    height: 102px;
   
    margin:0 auto;
    border-bottom: solid 1px none;
    box-shadow: #767676 0px 0px 10px 0px;
}
.top{ display: flex;
     
      justify-content: space-evenly;
      align-items: center;
        
}

    


#head .logo{
    height: 75px;
}
#head .logo img{
    height: 75px;  
    margin-top: 10px;  
}
.navigation{
    width: 530px;
    height: 54px;
}
.navigation .list{
    display: flex;
    justify-content: center;
    
    
    
}
.navigation .list li{
   padding:20px;
    text-align: center;
   
}


#slide{
    width: 100%;
    height: 950px;
    margin:0 auto;
   
    
}
#slide .slide1{
    width: 1200px;
    height: 100%;
    
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}
#slide .slide_contents_1{
    margin:0px;
    font-size: 55px;
    text-align: center;
    
}
#slide .slide_contents_2{
    text-align: center;
    font-size: 20px;
}

#slide .slide_img img{
    border-radius: 30px;
}




#section1{
    width: 100%;
    height: 1000px;
    margin:0 auto;
    background-color: orchid;
    overflow: hidden;
}

#section1 .section1_title{
    margin-top: 0px;
    text-align: center;
    font-size: 45px;
}



#section1 .section1_contants{
   max-width: 1200px;
    height: 100%;
    background-color: burlywood;
    margin:0 auto;
    display: flex;
    align-items: center;
    
}


#section1 .button{
    max-width: 70px;
    height: 60px;
    cursor:pointer;
    
   
    
}
#section1 .button .btn1 img{
   max-width: 70px;
    height: 60px;    
   overflow: hidden;
    border-radius: 200px;
    box-shadow:  0px 5px 15px 0px rgb(97, 97, 97);  
    position: absolute;
    
    
    
}

#section1 .button .btn2 img{
    max-width: 70px;
    height: 60px;    
   overflow: hidden;
    border-radius: 200px;
    box-shadow:  0px 5px 15px 0px rgb(97, 97, 97);  
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 1100px;
     right: 0;

    
}
    


#section1 .section1_contants .car{
    
    width: 560px;
    height: 520px;
    background-color: brown;
    border-radius: 30px;      
    margin-left: 20px;
    
    
    
}

#section1 .section1_contants .carimg{
    width: 560px;
    height: 300px;
    background:url("../main_img/mohave.jpg")no-repeat center ;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;  
}

#section1 .section1_contants .carimg2{
    width: 560px;
    height: 300px;
    background:url("../main_img/seltos.jpg")no-repeat center ;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;  
}

#section1 .section1_contants .carimg3{
    width: 560px;
    height: 300px;
    background:url("../main_img/k3.jpg")no-repeat center ;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;    
}

#section1 .section1_contants .carimg4{
    width: 560px;
    height: 300px;
    background:url("../main_img/sorento.jpg")no-repeat center ;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;    
}

#section1 .section1_contants .carimg5{
    width: 560px;
    height: 300px;
    background:url("../main_img/carnival.jpg")no-repeat center ;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;   
}

#section1 .section1_contants .carimg6{
    width: 560px;
    height: 300px;
    background:url("../main_img/k8.jpg")no-repeat center ;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;  
}

#section1 .textbox {
    display: flex;
    flex-flow:column; 
    padding: 20px 40px 40px;
    text-align: center;
  
}

#section1 .textbox .title_2{
    font-size: 20px;
}
#section1 .textbox .information{
    
}

#section2{
    width: 100%;
    height: 880px;
    margin:0 auto;
    background-color: paleturquoise;
}
#section2 .video video{
    width: 100%; 
    height: auto;
}



#section3{
    width: 100%;
    height: 880px;
    margin: 0 auto;
    background-color: darkgoldenrod;
}


#section4{
    width: 100%;
    height: 1240px;
    margin:0 auto;
    background-color: skyblue;
}

#section5{
    width: 100%;
    height: 700px;
    margin: 0 auto;
    background-color: thistle;
}

footer{
    width: 100%;
    height: 1000px;
    margin:0 auto;
    background-color: black;
}