@charset "utf-8";

@media (max-width:768px){
    #head{
        width: 100%;
        height: auto;
       
        
        border-bottom: solid 1px none;
        box-shadow: #767676 0px 0px 10px 0px;
        overflow: hidden;
      background: url("../main_img/media_bakcground.jpg") no-repeat center;
       background-position: center;
       background-size: cover;
       position: relative;
        z-index: 1;
       
    }
    .top{ 
        display: flex;    
         justify-content: space-between;
         align-items: center;     
       
   }
  
    #head .ham{
       
        font-size: 30px;
        cursor: pointer;
        color:white;
        display: block;
        padding-right: 3%;
      
        
    }
    #head .logo img{
        height:70px; 
        transition: 0.5s ease; 
        margin:20px;
    }
    .navigation{
        display: none;
    }

    #head .navigation2 a{
            color:white;
            font-size: 18px;
            padding:15px;
            text-decoration: none;
            display: block;
            transition: all 0.5s ease;
    }
    #head .navigation2 a:hover{
        color:tomato;
        
    }
    #head .navigation2{
        display: none;
    }
    #slide{
        width: 100%;
        height:auto;
        margin:0 auto;
        
        background:url("../main_img/main_background.jpg") no-repeat center;
        background-position: center;
        background-size: cover;
       
        
    }

    #slide .slide1{
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;      
        flex-flow:wrap column;
        padding-top: 15%;
        padding-bottom: 15%;
    }
    #slide .slide_img{
        width:70%;
        height: auto;
        overflow: hidden;
        box-shadow: 0px 5px 15px 0px black;
      
       
       
    }
    #slide .slide_img img{
        width:100%;
        height: auto;
        
        transition:0.5s ease;
        
      
    }
    #slide .slide_contents_1{
        width: 70%;
        margin:0 auto;
        font-size: 45px;
        text-align: center;
        color:white;
    }
    #slide .slide_contents_2{
        text-align: center;
        font-size:17px;
        color:white;
    }
    #section1{
        width:100%;
        height:auto;
        margin:0 auto;
       
        overflow: hidden;
        position: relative;
        transform: translateY(150px); transition: all 2s; opacity: 0;         
    }
    #section1 .section1_contants{
        width:100%;
        height: auto;
        margin:0 auto;
        overflow: hidden;
        position: relative;
        
    }
    #section1 .car{
        width: 600vw;
        height: auto;
        border-radius: 50px;
       
        display: flex;
        flex-flow:row nowrap;
    
    }
    #section1 .car li{
        width: 100vw;
        height: 50vh;
        float:left;
        margin:0 auto;
        color:white;
        
        font-weight: bold;
        
    }
    #section1 .car img{
        width: 100vw;
        height:50vh;  
       
    }
    #section1 .car li .car_text{
        font-size: 18px;
        text-shadow: black 0px 0px 5px;
        margin:30px 0px 0px 20px;
    }   
    #section1 .button {
       
       
        display: block;
        
      
        line-height: 40px;
 
        cursor: pointer;
        height: 50px;
      


    }
    #section1 .button .btn1 img {
     
        top:50%;
        display: block;
        line-height: 40px;
        cursor: pointer;
        height: 50px;
        transform: translateY(-100%);
    }
    
    #section1 .button .btn2 img {
        top:50%;
        display: block;   
        line-height: 40px;    
        cursor: pointer;
        height: 50px;
        margin-left:auto;
        transform: translateY(-90%);
        
       
    }
    #section3{
        width: 100%;
        height: auto;
        margin: 0 auto;
        transform: translateY(150px); transition: all 3s; opacity: 0;
    }
    .middle{
        width: 100%;
        height: auto;
        margin:0 auto;
        display: flex;
        flex-flow:column wrap;
        padding-bottom: 5%;
        justify-content: space-around;
    
    }
    #section3 .textbox{
        padding-bottom: 3%;
    }
    #section4{
        width: 100%;
        height:auto;
    }
    #section4 .s4_banner{
        width: 100%;
        height:auto;
    
    }
    #section4 .s4_banner_text{
       width: 100%;
       height: auto;
        font-size:25px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        padding:15%;     
    }
    #section4 .s4_bottom{
        width: 100%;
        height: auto; 
                 
    }
    
    #section4 .s4_box{
        width: 100%;
        height: auto;
      
         display: flex;
         flex-flow:column wrap;
         justify-content: space-evenly;
        padding-top: 5%;
    }
    
    
    #section4 .s4_bo{
        width: 80%; 
    }
    #section4 .s4_bo2{
        width: 80%;
    }
    
    #section4 .s4_text{
        width: 80%;
        height: auto;
    }
    
    #section4 .s4_text_1{
        font-size: 15px;
        line-height: 1.8em;
        color:rgb(163, 163, 163);
    }
    
    #section4 .line{
        width: 80%;
        border-bottom: 1px solid #e2e2e2;
        margin:0 auto;
        padding-top: 2%;
    }
    #section5{
        width: 100%;
        height:auto;
    }
    .kia_news{

        width: 100%;
        height:130%;
        overflow: hidden;
        margin:0 auto;
        display: flex;
        flex-flow: wrap column;
        align-items: center;
        justify-content: space-between;
        cursor:pointer;
       
      
       
    }
    
    .kia_news1{
        width:80%;
        height:auto;
      
        border-radius: 50px;
        box-shadow: 0 5px 15px 0px #cccccc;
        transition:all 0.5s ease;
        margin-bottom: 5%;
        margin-top: 3%;
        
    }
    #section5 .kia_news1_photo{
        
        width: 100%;
        
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
       
     
    }
    
    
    
    .kia_news2{
        width: 80%;
        height: auto;
     
        margin:0 auto;
        display: flex;
        flex-flow: wrap column;
        box-shadow: 0 5px  15px 0px #cccccc;
        justify-content: space-evenly;
        overflow: hidden;
        margin-bottom: 5%;
       
    }
    #section5 .kia_news2_photo2{
        
        width: 100%;
        height: 300px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 0px;
      
    }
    
    #section5 .kia_news2_photo3{
       
        width: 100%;
        height: 300px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 0px;
      
    }
    
   
    #section5 .kia_news2_text_box{
        width: 80%;
        height: auto;
       
       
    }
    #section5 .kia_news2_title{
        font-size: 25px;
    }
    #section5 .kia_news2_text2{
        
        font-size:16px;
    }

    footer{
        width: 100%;
        height:auto;
    }
    footer .line2{
        width: 90%;
    }
    footer .footer_in{
        max-width: 90%;
         height: auto;
         display: flex; 
          justify-content: space-evenly;
          flex-flow: row nowrap;
         
    }
    footer .footer_menu{
        width:100%;
    }
    footer .footer_menu li{
        font-size: 13px;
        font-weight: bold;
        line-height: 2.3em;   
    }    
    footer .footer_car{
        display: flex; 
        justify-content: space-between;
        width:100%;
        height: auto;
        padding-right: 5%;
    }
    
    footer .footer_car li{
        line-height: 2.3em;
        font-size:13px;
    }
    footer .footer_in3{
        width: 100%;
        height: auto;
    }
    footer .footer_last{
        width:90%;
        height: auto;   
       flex-flow:wrap column-reverse;
        display: flex;
        align-items:flex-start;
        justify-content: space-evenly;
        padding-top: 5%;
      
    }

}



@media (min-width:769px ) and (max-width:1199px){
    #head .navigation2 .list2{
        display: none;
    }
    #head{
        width: 100%;
        height: auto;
    }
    #slide{
        width: 100%;
        height:auto;
    }
    #slide .slide1{
        width:100%;
        height: auto;
        padding-bottom: 5%;
        padding-top: 5%;
    }
    #slide .slide_img{
        width:50%;
        height: auto;
       
       
    }
    #slide .slide_img img{
        width: 100%;
        height: auto;
    }
    #slide .slide_contents_1{
        width: 100%;
        height: auto;
        margin:0px;
        font-size: 20px;
        text-align: center;
        color:white;
    }
    #head .navigation2{
        display: none;
    }
    #section1{
        width:100%;
        height:auto;
        margin:0 auto;
       
        overflow: hidden;
        position: relative;
        transform: translateY(150px); 
        transition: all 2s; opacity: 0;         
    }
    #section1 .section1_contants{
        width:100%;
        height: auto;
        margin:0 auto;
        overflow: hidden;
        position: relative;
        
    }
    #section1 .car{
        width: 600vw;
        height: auto;
        border-radius: 50px;
       
        display: flex;
        flex-flow:row nowrap;
    
    }
    #section1 .car li{
        width: 100vw;
        height: 50vh;
        float:left;
        margin:0 auto;
        color:white;
        
        font-weight: bold;
        
    }
    #section1 .car img{
        width: 100vw;
        height:50vh;  
       
    }
    #section1 .car li .car_text{
        font-size: 18px;
        text-shadow: black 0px 0px 5px;
        margin:30px 0px 0px 20px;
    }   
    #section1 .button {
       
       
        display: block;
        
      
        line-height: 40px;
 
        cursor: pointer;
        height: 50px;
      


    }
    #section1 .button .btn1 img {
     
        top:50%;
        display: block;
        line-height: 40px;
        cursor: pointer;
        height: 50px;
        transform: translateY(-100%);
    }
    
    #section1 .button .btn2 img {
        top:50%;
        display: block;   
        line-height: 40px;    
        cursor: pointer;
        height: 50px;
        margin-left:auto;
        transform: translateY(-90%);
        
       
    }
    #section3{
        width: 100%;
        height:auto;
        transform: translateY(150px); 
        transition: all 3s; opacity: 0;
    }
    .middle{
        width:100%;
        height:auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    #section3 .infor {
        font-size: 15px;
        line-height: 30px;
        color:#2e2e2e;
    }
   
    #section3 .carimg{
        width: 80%;
        height: auto;
    }
    #section3 .carimg img{
        width:100%;
        height: auto;
    }
    #section3 .textbox{
        width: 100%;
        height: auto;
        margin-left:5%
    }
    #section4{
        width: 100%;
        height:auto;
      
    }
    #section4 .s4_bottom{
        width:100%;
        height: auto;
      
    }
    #section4 .s4_box{
        width:80%;
        height: auto;
        margin-top: 3%;
    }
    
    
    #section4 .s4_bo{
        width:100%;
        margin-right: 3%;
    }
    #section4 .s4_bo2{
        width: 100%;
        margin-right: 3%;
    }
    
    #section4 .s4_text{
        width: 100%;
        height: auto;
    }
    
   
    
    #section4 .line{
        width: 90%;
       
    }
    #section5{
        width: 100%;
        height: auto;
        margin: 0 auto;
        transform: translateY(150px); transition: all 2s; opacity: 0;
    }
    
    .kia_news{
    
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: wrap column;
        align-items: center;
        cursor:pointer;
    }
    
    .kia_news1{
        width: 80%;
        height: auto;
        margin-bottom: 5%;
    }
    #section5 .kia_news1_photo{
        width: 100%;
        height: 300px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
     
    }
    
    #section5 .kia_news1_title{
        padding: 25px 25px 0px 25px;
    }
    #section5 .kia_news1_text{
        padding: 0px 25px 0px 25px;
        line-height: 1.7em;
    }
    
    
    .kia_news2{
        width: 80%;
        height: auto;
        margin-bottom: 5%;
        border-radius: 50px;
        box-shadow: 0 5px 15px 0px #cccccc;
        display: flex;
        flex-flow: column wrap;
        transition:all 0.5s ease;
    }
    #section5 .kia_news2_photo2{
        width: 100%;
        height:300px ;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 50px;
    
    }
    
    #section5 .kia_news2_photo3{
       
        width: 100%;
        height:300px ;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 50px;
      
    }
    #section5 .kia_news2_text_box{
        width: 80%;
        
        padding:0px 25px 0px 25px;
    }
    #section5 .kia_news2_title{
        font-size: 23px;
    }
    #section5 .kia_news2_text2{
        line-height: 1.7em;
        font-size: 16px;
    }
    footer{
        width: 100%;
        height:auto;
    }
    
   
    footer .line2{
        width: 90%;
     
    }
    
    
    footer .footer_in{
       max-width:100%;
        height: auto;
    
    }
    
    footer .footer_menu{
        width:50%;  
        padding-left: 5%;
    }
    footer .footer_menu li{
        font-size: 20px;
       
    }
    
    
    
    footer .footer_car{
        display: flex; 
        justify-content: space-evenly;
        width: 100%;
        padding-right: 5%;
    }
    
   footer .footer_in3{
       width: 65%;
       height: auto;
   }
    

    
    
    footer .footer_last{
        width: 90%;
        height: auto;   
      flex-direction: column-reverse;
        display: flex;
        align-items: flex-start;
       
       
        padding-top:3%;
        overflow: hidden;
    }
  
    
    
  
    
}

