@charset "utf-8";
#sub_background{
    width: 100%;
    background:url("../sub_img/EV_background.jpg") no-repeat center;
    background-position: center;
    background-size: cover;
    height: 1000px;
}



#sub_background .sub_back_text{
   
   width: 1200px;
   height:100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    color:white;
    text-shadow: 0 0 5px black;
    text-align: center;
    margin:0 auto;
}

#sub_background .back_title{
    font-size: 50px;
    letter-spacing:0.2em;
}