@charset "utf-8";

#head {
    background:black;
}

#sub_background{
    width: 100%;
    background:url("../sub_img/EV_background.jpg") no-repeat center;
    background-position: center;
    background-size: cover;
    height: 1000px;
}



#sub_background .sub_back_text{
   
   width: 1200px;
   height:100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    color:white;
    text-shadow: 0 0 5px black;
    text-align: center;
    margin:0 auto;
}

#sub_background .back_title{
    font-size:80px;
    letter-spacing:0.05em;
}

#sub_background .back_in{
    font-size:25px;

}

#sub_section1{
    width: 100%;
    height:100%;
    
   
}
#sub_section1  .sub_st1_title{
    font-size: 50px;
    margin: 0;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
}
#sub_section1 .sub_st1_background{
    background: url("../sub_img/EV_background2.jpg") no-repeat center;
    background-position: center;
    background-size: cover;
    width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin:0 auto;
}

#sub_section1 .st1_text{
  width: 320px;
  height: 230px;
  background-color: rgba(255, 255, 255, 0.521);
  text-align: center;
  padding-bottom: 5%;
 
}

#sub_section1 .st1_text_title{
   font-size: 60px;
   font-weight: bold;
   margin:0;
  
  
}
#sub_section1 .line{
    border:1px solid #c7c7c769;
    width: 50%;
    margin: 0 auto;
  
}
#sub_section1 .st1_text_meaning{
    font-size: 20px;
   
}
#sub_section1 .plus{
    font-size: 100px;
    color:rgba(75, 192, 147, 0.384);
}

#sub_section2{
    width: 100%;
    height:1500px;
    
}
#sub_section2 .sub_st2_title{
    font-size: 50px;
    margin: 0;
    text-align: center;
    padding-top: 100px;
    padding-bottom:100px;
}
#sub_section2 .sub_st2_background{
    background: url("../sub_img/ev6.jpg")no-repeat center;
    background-position: center;
    background-size: cover;
    width: 1200px;
    height: 600px;
    margin:0 auto;
    margin-bottom:100px;
}

#sub_section2 .background_in{
    font-size: 25px;
    padding:30px 0px 0px 30px;
    color: white;
   text-shadow: 0px 0px 5px black;
}
#sub_section2 strong{
    font-size: 35px;
}
#sub_section2 .sub_st2_infor{
    width: 1300px;
    height: 300px;
   padding-bottom:  50px;
    margin:0 auto;
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: space-evenly;
}
#sub_section2 .sub2_st2_infor2{
    width: 370px;
    height: 250px;
    text-align:center;   
}
#sub_section2 .point{
    font-weight: bold;
    display: inline-block;
}
#sub_section2 .sub2_st2_infor2:nth-of-type(1){
    border-right: 1px solid #767676;
    padding-right: 7%;
    
}
#sub_section2 .sub2_st2_infor2:nth-of-type(2){
    border-right: 1px solid #767676;
    padding-right: 1%;
}
#sub_section2  .icon{
    font-size:50px;
    color:rgb(148, 148, 148);
    display: inline-block;
  
}
#sub_section2 .infor2_contents{
    font-size: 18px;

}

#sub_section2 .sub_button{
    width: 1200px;
    height: 100px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#sub_section2 .btn1{
    width: 200px;
    height: 70px;
    background-color: white;
    border:1px solid black;
    font-size: 22px;
    font-weight: bold;
    cursor:pointer;
    transition:all 0.3s ;
}
#sub_section2 .btn1:hover{
    color:white;
    background-color: black;
    
}
#sub_section3{
    width: 100%;
    height: 1200px;
}
#sub_section3 .sub_st2_background2{
    background:url("../sub_img/niroEv.jpg")no-repeat center;
    background-position: center;
    background-size: cover;
    width: 1200px;
    height: 600px;
    margin:0 auto;
    margin-bottom:100px;
}
#sub_section3 .background_in2{
    font-size: 25px;
    padding:30px 0px 0px 30px;
    color: white;
   text-shadow: 0px 0px 5px black;
}
#sub_section3 strong{
    font-size: 35px;
}

#sub_section3 .icon_1 img{
    width: 56px;
    
}

#sub_section3 .sub_st2_infor_2{
    width: 1300px;
    height: 300px;
    display: flex;
    flex-flow:row nowrap ;
    align-items: center;
    justify-content: space-evenly;
    margin:0 auto;
    padding-bottom: 50px;
   
}
#sub_section3 .sub2_st2_infor_3{
    width: 370px;
    height: 250px;
    text-align:center;  
}
#sub_section3 .infor2_contents_3{
    font-size: 18px;

}

#sub_section3 .sub2_st2_infor_3:nth-of-type(1){
    border-right: 1px solid #767676;
    padding-right: 5%;
}
#sub_section3 .sub2_st2_infor_3:nth-of-type(2){
    border-right: 1px solid #767676;
    padding-right: 2%;
}
#sub_section3 .sub_button{
    width: 1200px;
    height: 100px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#sub_section3 .btn1{
    width: 200px;
    height: 70px;
    background-color: white;
    border:1px solid black;
    font-size: 22px;
    font-weight: bold;
    cursor:pointer;
    transition:all 0.3s ;
}
#sub_section3 .btn1:hover{
    color:white;
    background-color: black;
    
}